################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ScheduledEmail/.vs
/ScheduledEmail/ScheduledEmail/bin/Debug/net8.0
/ScheduledEmail/ScheduledEmail/obj
